<a href="https://colab.research.google.com/github/Proteanox/Gender-Predictor-Classifier-WebApp/blob/main/Gender_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('weight-height.csv')

In [3]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [4]:
df['Gender'] = df['Gender'].map({'Male': 1, 'Female': 0})

In [5]:
df.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

In [6]:
X = df[['Height', 'Weight']]
Y = df.Gender

In [13]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X,Y)

RandomForestClassifier()

In [14]:
y_pred = clf.predict(X)

In [15]:
y_pred

array([1, 1, 1, ..., 0, 0, 0])

In [16]:
from sklearn.metrics import accuracy_score
accuracy_score(Y,y_pred)

0.9999